.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.Nav-bar {
  background-color: white;
  color:#c3a343;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;

}

.gold-text {
  color:#c3a343;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
  url(https://c.pxhere.com/photos/83/c1/background_glitter_glittering_background_bokeh_blurry_out_of_focus_gold_cute-1208734.jpg!d) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  }